@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic);

.outer-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 3rem !important;*/
    box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic);

.outer-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 3rem !important;*/
    box-sizing: border-box;
}

@media (min-width: 992px) .outer-container {
    max-width: 960px;
}
/*Botones si/no*/
.container-btn {
    align-content: center;
    -webkit-box-pack: end !important;
    display: flex !important;
    justify-content: center;
    margin-top: 45px;
}

.btn-primary-wizard {
    display: inline-block;
    font-size: 18px !important;
    padding: 20px 38px 20px !important;
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 700;
    background: #B09531 !important;
    letter-spacing: 2px;
    font-weight: bold;
}



/*Alta de proveedores*/
.form-header {
    text-align: center;
}

.h3_form-header {
    font-size: 22px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 15px;
    display: inline-block;
    border: 1.5px solid #ebebeb;
    margin-bottom: 35px;
}
/**********************texto p ********/
.step-content > .text_p {
    color: #000000 !important;
    font-size: 20px !important;
}

.img_wizard {
    width: 40%;
    height: 50%;
    margin-left: 250px;
}

/*------------------------------*/
.product-details-sec {
    padding-top: 40px;
    box-sizing: border-box;
}

.step-content {
    padding: 10px 0;
}

.step {
    position: absolute;
    min-height: 400px;
    width: 100%;
    margin-left: 0px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

footer.footer {
    background: unset;
}


/*Contenido*/
.aiia-wizard {
    display: block;
}

.aiia-wizard-step-title-number {
    background-color: #00B0AD;
    border-radius: 300px;
    color: rgb(255, 255, 255);
    float: left;
    font-size: 36px;
    height: 70px;
    margin-right: 10px;
    text-align: center;
    width: 70px;
    font-weight: bold;
    padding-top: 11px;
}

.aiia-wizard-step-title-text {
    color: #000000;
    font-size: 36px;
    float: left;
    margin-top: 8px;
}

.aiia-wizard-steps-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 400px;
    height: 400px;
    padding-top: 60px;
}

.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.aiia-wizard-progress-buttons-wrapper {
    border-bottom: 1.5px solid #ebebeb;
    /* display: block;*/
}


.step {
    position: absolute;
    min-height: 400px;
    width: 100%;
    margin-left: 0px;
}

.active {
    padding: 0px 43px !important;
}

.nav {
    /*padding-left: 0;*/
    /*margin-bottom: 0;*/
    list-style: none !important;
    /*padding-bottom: 15px !important;*/
    padding-top: 4px !important;
}

    .nav > li {
        position: relative;
        display: block;
        padding: 0px 43px !important;
        padding-bottom: 15px !important;
    }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #000000;
        }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    /*background-color: #00B0AD;*/
    color: #000000;
}

.nav-pills > li > a {
    /*border-radius: 6px;*/
}

.active > a > h1 {
    color: #000000;
}

.wizard .aiia-wizard-progress-buttons-wrapper > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 0;
}

ul {
    margin-top: 0 !important;
}




.nav-justified > li {
    float: none !important;
}

.nav-pills > li + li {
    margin-left: 2px;
}

.nav-justified > li > a {
    text-align: center !important;
}

.nav-pills > li {
    float: left;
}
/*Icon*/
li.completed span.aiia-wizard-icon-step-completed {
    color: #B09531 !important;
    position: absolute;
    top: -12px;
    right: -8px;
    font-size: 2.5em;
}

li.completed > a {
    background-color: #fff;
    color: #000000;
}

    li.completed > a > h1 {
        color: #000000;
    }


/*FOTTER WIZARD*/
.aiia-wizard-steps-footer {
    padding: 28px 0;
}

.product_details_tab {
    margin: 0;
    padding: 0;
}

.nav-tabs {
    border-bottom: none !important;
}

.btn-primary {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px !important;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #00B0AD;
    letter-spacing: 2px;
    font-weight: bold;
}

.product__details__tab {
    padding-top: 0px !important;
    margin-bottom: 0px !important;
}

/*head wizard*/


/*.aiia-wizard-progress-buttons-wrapper ul .active a {
    height: 3px !important;
    margin: 0 15px !important;
    position: relative !important;
}*/
.aiia-wizard-progress-buttons-wrapper ul li:hover:after {
    height: 3px;
}

.aiia-wizard-progress-buttons-wrapper ul .active:after {
    height: 3px;
}

.aiia-wizard-progress-buttons-wrapper ul li:after {
    position: absolute;
    content: '';
    height: 0px;
    width: 70%;
    left: 30px;
    bottom: -2px;
    background: #00B0AD;
}


@media (min-width: 992px) .outer-container {
    max-width: 960px;
}
/*Alta de proveedores*/

.form-header {
    text-align: center;
}

.h3_form-header {
    font-size: 22px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 15px;
    display: inline-block;
    border: 1.5px solid #ebebeb;
    margin-bottom: 35px;
}

/******************************/

.product-details-sec {
    padding-top: 40px;
}

.step-content {
    padding: 10px 0;
}

.step {
    position: absolute;
    min-height: 400px;
    width: 100%;
    margin-left: 0px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

footer.footer {
    background: unset;
}


/*Contenido*/
.aiia-wizard {
    display: block;
}

.aiia-wizard-step-title-number {
    background-color: #00B0AD;
    border-radius: 300px;
    color: rgb(255, 255, 255);
    float: left;
    font-size: 36px;
    height: 70px;
    margin-right: 10px;
    text-align: center;
    width: 70px;
    font-weight: bold;
    padding-top: 11px;
}

.aiia-wizard-step-title-text {
    color: #000000;
    font-size: 36px;
    float: left;
    margin-top: 8px;
}

.aiia-wizard-steps-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 400px;
    height: 400px;
    padding-top: 60px;
}

.row {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.aiia-wizard-progress-buttons-wrapper {
    border-bottom: 1.5px solid #ebebeb;
    /* display: block;*/
}


.step {
    position: absolute;
    min-height: 400px;
    width: 100%;
    margin-left: 0px;
}

.active {
    padding: 0px 43px !important;
}

.nav {
    /*padding-left: 0;*/
    /*margin-bottom: 0;*/
    list-style: none !important;
    /*padding-bottom: 15px !important;*/
    padding-top: 4px !important;
}

    .nav > li {
        position: relative;
        display: block;
        padding: 0px 43px !important;
        padding-bottom: 15px !important;
    }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #000000;
        }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    /*background-color: #00B0AD;*/
    color: #000000;
}

.nav-pills > li > a {
    /*border-radius: 6px;*/
}

.active > a > h1 {
    color: #000000;
}

.wizard .aiia-wizard-progress-buttons-wrapper > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 0;
}

ul {
    margin-top: 0 !important;
}




.nav-justified > li {
    float: none !important;
}

.nav-pills > li + li {
    margin-left: 2px;
}

.nav-justified > li > a {
    text-align: center !important;
}

.nav-pills > li {
    float: left;
}
/*Icon*/
li.completed span.aiia-wizard-icon-step-completed {
    color: #B09531 !important;
    position: absolute;
    top: -12px;
    right: -8px;
    font-size: 2.5em;
}

li.completed > a {
    background-color: #fff;
    color: #000000;
}

    li.completed > a > h1 {
        color: #000000;
    }


/*FOTTER WIZARD*/
.aiia-wizard-steps-footer {
    padding: 28px 0;
}

.product_details_tab {
    margin: 0;
    padding: 0;
}

.nav-tabs {
    border-bottom: none !important;
}

.btn-primary {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px !important;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #00B0AD;
    letter-spacing: 2px;
    font-weight: bold;
}

.product__details__tab {
    padding-top: 0px !important;
    margin-bottom: 0px !important;
}

/*head wizard*/


/*.aiia-wizard-progress-buttons-wrapper ul .active a {
    height: 3px !important;
    margin: 0 15px !important;
    position: relative !important;
}*/
.aiia-wizard-progress-buttons-wrapper ul li:hover:after {
    height: 3px;
}

.aiia-wizard-progress-buttons-wrapper ul .active:after {
    height: 3px;
}

.aiia-wizard-progress-buttons-wrapper ul li:after {
    position: absolute;
    content: '';
    height: 0px;
    width: 70%;
    left: 30px;
    bottom: -2px;
    background: #00B0AD;
}
