tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style18
	{mso-number-format:"_-\\$* \#\,\#\#0\.00_-\;\0022-$\0022* \#\,\#\#0\.00_-\;_-\\$* \\-??_-\;_-\@_-";
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-style-name:Moneda;
	mso-style-id:4;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	mso-protection:unlocked visible;}
.xl66
	{mso-style-parent:style0;
	font-weight:700;
	mso-protection:unlocked visible;}
.xl67
	{mso-style-parent:style0;
	font-weight:700;
	mso-number-format:"dd\0022 de \0022mmmm\0022 de \0022yyyy";
	mso-protection:unlocked visible;}
.xl68
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	mso-protection:unlocked visible;}
.xl69
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	text-align:center;
	mso-protection:unlocked visible;}
.xl70
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt hairline black;
	mso-protection:unlocked visible;}
.xl71
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt hairline black;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl72
	{mso-style-parent:style0;
	font-weight:700;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt hairline black;
	mso-protection:unlocked visible;}
.xl73
	{mso-style-parent:style0;
	text-align:left;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl74
	{mso-style-parent:style0;
	text-align:center;
	mso-protection:unlocked visible;}
.xl75
	{mso-style-parent:style0;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:none;
	border-left:.5pt hairline black;
	mso-protection:unlocked visible;}
.xl76
	{mso-style-parent:style0;
	border-top:.5pt hairline black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl77
	{mso-style-parent:style0;
	border-top:.5pt hairline black;
	border-right:.5pt hairline black;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl78
	{mso-style-parent:style0;
	font-weight:700;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt hairline black;
	mso-protection:unlocked visible;}
.xl79
	{mso-style-parent:style0;
	text-align:left;
	mso-protection:unlocked visible;}
.xl80
	{mso-style-parent:style0;
	font-weight:700;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt hairline black;
	mso-protection:unlocked visible;}
.xl81
	{mso-style-parent:style18;
	mso-number-format:"_-\\$* \#\,\#\#0\.00_-\;\0022-$\0022* \#\,\#\#0\.00_-\;_-\\$* \\-??_-\;_-\@_-";
	text-align:center;
	mso-protection:unlocked visible;}
.xl82
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	mso-protection:unlocked visible;}
.xl83
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl84
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt hairline black;
	border-left:.5pt hairline black;
	mso-protection:unlocked visible;}
.xl85
	{mso-style-parent:style0;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:.5pt hairline black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl86
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt hairline black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl87
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt hairline black;
	border-bottom:.5pt hairline black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl88
	{mso-style-parent:style0;
	font-weight:700;
	mso-number-format:"dd\0022 de \0022mmmm\0022 de \0022yyyy";
	text-align:right;
	mso-protection:unlocked visible;}
.xl89
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:1.0pt solid black;
	mso-protection:unlocked visible;}
.xl90
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl91
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:1.0pt solid black;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl92
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	mso-protection:unlocked visible;}
.xl93
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	mso-protection:unlocked visible;}
.xl94
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid black;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	mso-protection:unlocked visible;}
.xl95
	{mso-style-parent:style0;
	text-decoration:underline;
	text-underline-style:single;
	mso-number-format:"dd\0022 de \0022mmmm\0022 de \0022yyyy";
	text-align:left;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl96
	{mso-style-parent:style0;
	font-weight:700;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl97
	{mso-style-parent:style0;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl98
	{mso-style-parent:style0;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid black;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl99
	{mso-style-parent:style0;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid black;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl100
	{mso-style-parent:style0;
	font-weight:700;
	vertical-align:top;
	mso-protection:unlocked visible;}
.xl101
	{mso-style-parent:style0;
	font-weight:700;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl102
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl103
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid black;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl104
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid black;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl105
	{mso-style-parent:style0;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	mso-protection:unlocked visible;
	white-space:normal;}
.xl106
	{mso-style-parent:style0;
	font-weight:700;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;
	white-space:normal;}
.xl107
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-protection:unlocked visible;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl108
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl109
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl110
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-protection:unlocked visible;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl111
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-protection:unlocked visible;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl112
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-protection:unlocked visible;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl113
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid windowtext;
	mso-protection:unlocked visible;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl114
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	mso-protection:unlocked visible;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl115
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	mso-protection:unlocked visible;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl116
	{mso-style-parent:style0;
	font-weight:700;
	text-align:left;
	mso-protection:unlocked visible;}
.xl117
	{mso-style-parent:style0;
	font-weight:700;
	text-align:left;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl118
	{mso-style-parent:style0;
	font-weight:700;
	text-align:left;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl119
	{mso-style-parent:style18;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single-accounting;
	mso-number-format:"_-\\$* \#\,\#\#0\.00_-\;\0022-$\0022* \#\,\#\#0\.00_-\;_-\\$* \\-??_-\;_-\@_-";
	text-align:left;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl120
	{mso-style-parent:style0;
	text-decoration:underline;
	text-underline-style:single;
	text-align:left;
	vertical-align:top;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl121
	{mso-style-parent:style0;
	text-decoration:underline;
	text-underline-style:single;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl122
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt hairline black;
	mso-protection:unlocked visible;}
.xl123
	{mso-style-parent:style0;
	font-weight:700;
	text-align:right;
	mso-protection:unlocked visible;}
.xl124
	{mso-style-parent:style0;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-protection:unlocked visible;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl125
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	mso-protection:unlocked visible;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl126
	{mso-style-parent:style0;
	text-align:left;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;
	white-space:normal;
	padding-left:12px;
	mso-char-indent-count:1;}
.xl127
	{mso-style-parent:style0;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl128
	{mso-style-parent:style0;
	font-size:12.0pt;
	mso-protection:unlocked visible;}
.xl129
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	mso-protection:unlocked visible;}
.xl130
	{mso-style-parent:style0;
	font-size:12.0pt;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl131
	{mso-style-parent:style0;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl132
	{mso-style-parent:style0;
	font-size:12.0pt;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid black;
	mso-protection:unlocked visible;}
.xl133
	{mso-style-parent:style0;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl134
	{mso-style-parent:style0;
	border-top:1.0pt solid black;
	border-right:1.0pt solid black;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl135
	{mso-style-parent:style0;
	font-size:12.0pt;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid black;
	mso-protection:unlocked visible;}
.xl136
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	text-align:right;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid black;
	mso-protection:unlocked visible;}
.xl137
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	text-align:center;
	mso-protection:unlocked visible;}
.xl138
	{mso-style-parent:style0;
	border-top:none;
	border-right:1.0pt solid black;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl139
	{mso-style-parent:style0;
	font-size:12.0pt;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl140
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	text-align:right;
	vertical-align:top;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid black;
	mso-protection:unlocked visible;}
.xl141
	{mso-style-parent:style18;
	font-size:18.0pt;
	font-weight:700;
	mso-number-format:"_-\\$* \#\,\#\#0\.00_-\;\0022-$\0022* \#\,\#\#0\.00_-\;_-\\$* \\-??_-\;_-\@_-";
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl142
	{mso-style-parent:style0;
	mso-number-format:"\\$\#\,\#\#0\.00\;\[Red\]\0022-$\0022\#\,\#\#0\.00";
	mso-protection:unlocked visible;}
.xl143
	{mso-style-parent:style0;
	vertical-align:middle;
	mso-protection:unlocked visible;}
.xl144
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	text-align:right;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:1.0pt solid black;
	mso-protection:unlocked visible;}
.xl145
	{mso-style-parent:style0;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid black;
	border-bottom:none;
	border-left:none;
	mso-protection:unlocked visible;}
.xl146
	{mso-style-parent:style18;
	font-size:14.0pt;
	mso-number-format:"_-\\$* \#\,\#\#0\.00_-\;\0022-$\0022* \#\,\#\#0\.00_-\;_-\\$* \\-??_-\;_-\@_-";
	text-align:center;
	mso-protection:unlocked visible;}
.xl147
	{mso-style-parent:style0;
	font-size:12.0pt;
	text-align:left;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl148
	{mso-style-parent:style0;
	font-size:12.0pt;
	text-align:right;
	mso-protection:unlocked visible;}
.xl149
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	text-align:right;
	mso-protection:unlocked visible;}
.xl150
	{mso-style-parent:style0;
	font-size:12.0pt;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl151
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl152
	{mso-style-parent:style0;
	font-size:12.0pt;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:1.0pt solid black;
	mso-protection:unlocked visible;}
.xl153
	{mso-style-parent:style0;
	border-top:none;
	border-right:1.0pt solid black;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl154
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:1.0pt solid black;
	mso-protection:unlocked visible;}
.xl155
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl156
	{mso-style-parent:style0;
	font-size:20.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:1.0pt solid black;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl157
	{mso-style-parent:style0;
	font-size:36.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:1.0pt solid black;
	mso-protection:unlocked visible;}
.xl158
	{mso-style-parent:style0;
	font-size:36.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl159
	{mso-style-parent:style0;
	font-size:36.0pt;
	font-weight:700;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:1.0pt solid black;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl160
	{mso-style-parent:style0;
	font-size:12.0pt;
	mso-number-format:"dd\0022 de \0022mmmm\0022 de \0022yyyy";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl161
	{mso-style-parent:style0;
	font-size:12.0pt;
	text-align:center;
	mso-protection:unlocked visible;
	white-space:normal;}
.xl162
	{mso-style-parent:style0;
	font-size:12.0pt;
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;
	white-space:normal;}
.xl163
	{mso-style-parent:style0;
	font-size:14.0pt;
	text-align:center;
	border-top:1.0pt solid black;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl164
	{mso-style-parent:style18;
	font-size:14.0pt;
	mso-number-format:"_-\\$* \#\,\#\#0\.00_-\;\0022-$\0022* \#\,\#\#0\.00_-\;_-\\$* \\-??_-\;_-\@_-";
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	white-space:normal;}
.xl165
	{mso-style-parent:style0;
	mso-number-format:"dd\0022 de \0022mmmm\0022 de \0022yyyy";
	text-align:center;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid black;
	border-left:none;
	mso-protection:unlocked visible;}
.xl166
	{mso-style-parent:style0;
	font-weight:700;}
.xl167
	{mso-style-parent:style0;
	color:black;
	mso-protection:unlocked visible;}
