.sidebar {
	background: #00B0AD;
}

.sidebar-content {
	background: #00B0AD;
}

.sidebar-brand_img {
	height: 45px;
}

.sidebar-bottom {
	background: #006C6C;
}

a.text-white.sidebar-link {
	background: #00B0AD;
}
a.text-dark.sidebar-link {
	background: white !important;

}
a.text-dark.sidebar-link:hover {
	
	color: white;
}
.sidebar-link {
	font-size: 16px;
}

.fas .fa-user-circle .rounded-circle .mr-3 {
	font-size: 4em;
}

.navbar .navbar-expand .navbar-light .bg-white {
	padding: .6rem 1.25rem;
}
.navbar-collapse-img {
	height: 40px;
}
.main_title {
	margin: 0;
}

.d-none .d-sm-inline-block .form-inline .mr-auto .ml-md-5 .my-2 .my-md-0 .mw-100 .navbar-search {
	width: 400px;
}

.fas .fa-user-circle .rounded-circle .mr-3 {
	font-size: 1.7em;
}

.container-fluid {
	padding: 45px;
}

.footer {
	position: static;
	bottom: 0;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.col-md-3 mb-2 .a {
	justify-content: center;
	align-items: center;
}
.sci {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sci_li {
	list-style: none;
	margin: 0 2px;
}

.row{
	justify-content: center;
	align-items: center;
}

.row-row {
	padding: 15px;
}
/*
.simplebar-wrapper {
	margin: 0px;
}

.simplebar-offset {
	right: -17px;
	bottom: 0px;
}

.simplebar-content-wrapper {
	height: 100%;
	overflow: hidden scroll;
}

.simplebar-content {
	padding: 0px;
}

.simplebar-placeholder {
	width: 239px;
	height: 854px;
}

.text-white .sidebar-link .collapsed {
	background: #00B0AD;
	font-size: 16px;
}

.text-dark .sidebar-link {
	font-size: 16px;
	background: white;
}
	*/