
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="single_portfolio">
                    <img class="img-fluid-p" src="./custom/images/cc.png" alt="" />

                    <div class="single_portfolio">
                        <img class="img-fluid-p" src="./custom/images/cc.png" alt="" />
                    </div>
                    <div class="single_portfolio">
                        <img class="img-fluid-p" src="./custom/images/cc.png" alt="" />
                    </div>
                </div>

            </div>

            <div class="col-lg-9 col-md-7">

                <div class="row">
                    <div class="col-lg-8 col-md-6 all weeding motion portrait">
                        <div class="single_portfolio">
                            <img class="img-fluid-f " src="./custom/images/cc.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</section>