body {
    background-color: white !important;
}

.btn-outline-success {
    background-color: #00B0AD !important;
    border-color: #00B0AD !important;
}

.required {
    background-color: white !important;
}

.form-control.is-invalid {
    border-color: grey !important;
}



.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #dfe9f6 !important;
    border-color: gray gray #dfe9f6 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: gray gray gray;
}

.nav-tabs {
    border-bottom: 1px solid gray;
}

.nav-item a {
    color: gray;
}

.col-form-label {
    font: normal 13px tahoma,arial,verdana,sans-serif !important;
    font-weight: bolder !important;
}


.field_header {
    vertical-align: middle !important;
    text-align: right !important;
}

.th {
    background-color: #dfe9f6 !important;
}

.table .head {
    padding-left: 5pt !important;
}

.table .foot {
    padding: 5pt !important;
}

.table {
    margin-bottom: unset !important;
}

fieldset {
    border-width: 1px !important;
    margin: 5pt !important;
    left: 0px !important;
    top: 268px !important;
    border: 1px solid #b5b8c8 !important;
    padding: 10px !important;
}

.form-group {
    margin-bottom: 5pt !important;
    margin-top: 5pt !important;
    margin-left: 5pt !important;
}

.form.row {
    margin-left: 0pt !important;
}

fieldset > .row {
    margin-left: -5pt !important;
}

legend {
    padding-left: 5pt !important;
    padding-right: 5pt !important;
    width: unset !important;
    margin-bottom: unset !important;
    font: normal 13px tahoma,arial,verdana,sans-serif !important;
    font-weight: bolder !important;
}

.group-tab-pane .nav-pills a {
    color: white !important;
}

.nav-link.active {
    font-weight: bolder !important;
}

.group-tab-pane .nav-pills .nav-link.active, .group-tab-pane .nav-pills .show > .nav-link {
    color: black !important;
    background-color: #f5f9fc !important;
}

.tab-pane table thead td {
    padding: unset !important;
}

.table.form {
    max-width: 80% !important;
}

.group-tab-nav {
    background-color: #4E78B1 !important;
    /*z-index: -1000;*/
}

@media (min-width: 175px) {
    .foot {
        height: 100vh;
    }
}

@media (min-width: 1128px) {
    .foot {
        height: 100vh;
    }
}
