Carga productos*/

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #dfe9f6 !important;
    border-color: gray gray #dfe9f6 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #b5b8c8 !important;
}

.nav-tabs {
    border-bottom: 1px solid #b5b8c8 !important;
}

.nav-item a {
    color: gray;
}

.nav-tabs .nav-link.active {
    background-color: #00B0AD !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.nav-pills .nav-link.active {
    background-color: #00B0AD !important;
}

a.nav-link {
    color: #000000;
}

ul.nav.flex-column.nav-pills {
    background-color: #f8f9fa !important;
}

.form-control {
    border: 1px solid #b5b8c8 !important;
    color: black !important;
}

/*datos generales, domicilio, tipo persona*/
.nav-tabs .nav-link.active {
    background-color: #00B0AD !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.nav-pills .nav-link.active {
    background-color: #00B0AD !important;
}

a.nav-link {
    color: #000000;
}

ul.nav.flex-column.nav-pills {
    background-color: #f8f9fa !important;
}




/*Icono outline*/
.btn-outline-info {
    border-color: #b5b8c8 !important;
}

.btn-outline-success_1 {
    background-color: #00B0AD !important;
    border-color: #00B0AD !important;
    border-width: 3px !important;
    border-style: solid !important;
    position: absolute;
    right: 30px;
    width: 15%;
}


/*PRODUCTOSSS*/

.product-details {
    padding-top: 80px;
}

.product__details__text .h3 {
    color: #252525;
    font-weight: 700;
    margin-bottom: 16px;
}

.product__details__text a {
    text-decoration: none !important;
    color: #fff !important;
}

.product__details__text .product__details__rating {
    font-size: 14px;
    margin-bottom: 12px;
}

    .product__details__text .product__details__rating i {
        margin-right: -2px;
        color: #EDBB0E;
    }

    .product__details__text .product__details__rating span {
        color: #000;
        margin-left: 4px;
    }

.product__details__text .product__details__price {
    font-size: 30px;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
}

.product__details__text p {
    margin-bottom: 45px;
}

.product__details__text .primary-btn-btn {
    padding: 16px 28px 14px;
    margin-right: 6px;
    margin-bottom: 5px;
}


.product__details__text ul {
    border-top: 1px solid #ebebeb;
    padding-top: 40px;
    margin-top: 50px;
}

    .product__details__text ul li {
        font-size: 16px;
        color: #1c1c1c;
        list-style: none;
        line-height: 36px;
    }

        .product__details__text ul li b {
            font-weight: 700;
            width: 170px;
            display: inline-block;
        }

.product__img {
    max-width: 100%;
}
/*btn add to cart */
.primary-btn-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #00B0AD;
    letter-spacing: 2px;
}

/*Informacion y descripcion del producto*/
.product__details__tab {
    padding-top: 85px;
    margin-bottom: 95px;
}

    .product__details__tab .nav-tabs {
        border-bottom: none;
        justify-content: center;
        position: relative;
    }

        .product__details__tab .nav-tabs li {
            margin-bottom: 0;
            margin-right: 65px;
        }

            .product__details__tab .nav-tabs li a {
                font-size: 16px;
                color: #999999;
                font-weight: 700;
                border: none;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

    .product__details__tab .product__details__tab__desc {
        padding-top: 44px;
    }

        .product__details__tab .product__details__tab__desc h6 {
            font-weight: 700;
            color: #333333;
            margin-bottom: 26px;
        }

        .product__details__tab .product__details__tab__desc p {
            color: #666666;
        }


/*VISOR*/


.img-fluid-p {
    max-width: 40% !important;
    height: auto !important;
    margin-bottom: 40px;
    border-color: #000;
}

.img-fluid-f {
    max-width: 100% !important;
    height: auto !important;
}
