body {
    background-color: white !important;
}

.header-column {
    background-color: white !important;
    color: black !important;
    /*border-color: #00B0AD !important;*/
    /*border-bottom: 3.5px solid #00B0AD !important;*/
}

thead th {
    border: hidden;
    border-bottom: 3.5px solid #00B0AD !important;
    background-color: white !important;
    /*border: #00B0AD  2px solid !important;*/
}

tfoot th {
    border: hidden;
    /*border-bottom: 3.5px solid #00B0AD !important;*/
    background-color: white !important;
    /*border: #00B0AD  2px solid !important;*/
}

tbody th {
    border-bottom: 3.5px solid #00B0AD !important;
    background-color: white !important;
    border: hidden;
    border-right: 3.5px solid #00B0AD !important;
    /*border: 3.5px solid #00B0AD !important;*/
}

thead {
    border-bottom: 3.5px solid #00B0AD !important;
}

    thead tr {
        border-bottom: 3.5px solid #00B0AD !important;
    }

tbody {
    border-bottom: 3.5px solid #00B0AD !important;
}

tfoot {
    border-bottom: 3.5px solid #00B0AD !important;
}

.table th {
    border-top: white !important;
}

.w3-dropdown-click {
    width: 100%;
    background: white !important;
}

    .w3-dropdown-click:hover {
        background: white !important;
    }

.w3-button:hover {
    background: #00B0AD !important;
    color: black !important;
}

.w3-dropdown-click:hover > .w3-button:first-child {
    background: white !important;
}

.w3-dropdown-hover:hover > .w3-button:first-child, .w3-dropdown-click:hover > .w3-button:first-child {
    background: white !important;
}


.fas .fa-cog {
    background: white !important;
    font-size: 14px !important;
}

.w3-bar-item {
    background: white !important;
}

.w3-dropdown-hover:first-child {
    background: white !important;
}

.far .fa-square {
    margin-right: 5px !important;
    font-size: 10px !important;
}

.far .fa-check-square {
    margin-right: 5px !important;
    font-size: 10px !important;
    color: black !important;
}

.headcol_2 .rowhead {
    text-align: right !important;
    padding-right: 5px !important;
    white-space: nowrap !important;
    width: 50px !important;
    background: white !important;
}

.rowhead {
    white-space: nowrap !important;
    text-align: center !important;
    width: 50px !important;
    color: black !important;
}

.w3-green {
    background-color: #00B0AD !important;
    color: black !important;
}
/*boton de agregar*/
.btn.btn-primary.btn-circle {
    background-color: #00B0AD !important;
    border-color: #00B0AD !important;
    border-width: 3px !important;
    border-style: solid !important;
    color: #ffff !important;
    box-shadow: none !important;
    font-size: 14px;
    padding: .25rem .7rem !important;
    font-weight: bold;
}

.btn.btn-warning.btn-circle {
    background-color: #00B0AD !important;
    border-color: #00B0AD !important;
    border-width: 3px !important;
    border-style: solid !important;
    color: #ffff !important;
    box-shadow: none !important;
    font-size: 14px;
    padding: .25rem .7rem !important;
    font-weight: bold;
}

@media (min-width: 175px) {
    .foot_datagrid {
        height: 100vh !important;
    }
}

@media (min-width: 1128px) {
    .foot_datagrid {
        height: 100vh !important;
    }
}
