/* Button modal */

.user_card_1 {
	height: 450px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: white;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 8px;
}
.btn {
	background: #00B0AD;
	color: white !important;
}

.modal-content .text-center {
	text-align: center;
}

.heading {
	font-size: 16px;
}
.user_card {
	height: 450px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: white;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}
.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: 10px;
	padding: 10px;
	text-align: center;
}
.brand_logo {
	height: 130px;
	width: 130px;
}

.d-flex .justify-content-center .form_container {
	margin-top: 170px;
}

.input-group .form-control {
	width: 250px;
	height: 40px;
}

.input-group-text {
	background: #00B0AD;
	color: white;
	border: 0;
	border-radius: 0.25rem 0 0 0.25rem;
}

.form-group {
	margin-top: 25px;
}

.custom-control-label {
	font-size: 14px;
}

.d-flex .justify-content-center .mt-3 .login_container {
	padding: 0 2rem;
}
.btn_btn {
	width: 150px;
	height: 30px;
	background: #00B0AD !important;
	color: white !important;
	font-size: 14px;
	border-color: #00B0AD !important;
}
.d-flex .justify-content-center .links {
	font-size: 14px;
}