
/*Productos*/


.product__item {
    margin-bottom: 50px;
}



.product__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
}

    .product__item__pic img {
        width: 100%;
    }

.product__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

    .product__item__pic__hover li {
        list-style: none;
        display: inline-block;
        margin-right: 6px;
    }

        .product__item__pic__hover li:last-child {
            margin-right: 0;
        }

        .product__item__pic__hover li:hover a {
            background: #00B0AD;
            border-color: #00B0AD;
        }

            .product__item__pic__hover li:hover a i {
                color: #ffffff;
            }

        .product__item__pic__hover li a {
            font-size: 16px;
            color: #1c1c1c;
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid #ebebeb;
            background: #ffffff;
            display: block;
            border-radius: 50%;
            -webkit-transition: all, 0.5s;
            -moz-transition: all, 0.5s;
            -ms-transition: all, 0.5s;
            -o-transition: all, 0.5s;
            transition: all, 0.5s;
        }

            .product__item__pic__hover li a i {
                position: relative;
                transform: rotate(0);
                -webkit-transition: all, 0.3s;
                -moz-transition: all, 0.3s;
                -ms-transition: all, 0.3s;
                -o-transition: all, 0.3s;
                transition: all, 0.3s;
            }

.product__item__text {
    text-align: center;
    padding-top: 15px;
}

    .product__item__text h6 {
        margin-bottom: 10px;
    }

        .product__item__text h6 a {
            color: #252525;
        }

    .product__item__text h5 {
        color: #252525;
        font-weight: 700;
    }

.product__pagination,
.blog__pagination {
    padding-top: 10px;
    padding-bottom: 40px;
}

    .product__pagination a,
    .blog__pagination a {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid #b2b2b2;
        font-size: 14px;
        color: #b2b2b2;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
        margin-right: 16px;
        -webkit-transition: all, 0.3s;
        -moz-transition: all, 0.3s;
        -ms-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        transition: all, 0.3s;
    }

        .product__pagination a:hover,
        .blog__pagination a:hover {
            background: #00B0AD;
            border-color: #00B0AD;
            color: #ffffff;
        }

        .product__pagination a:last-child,
        .blog__pagination a:last-child {
            margin-right: 0;
        }


.filter__item {
    padding-top: 45px;
    border-top: 1px solid #ebebeb;
    padding-bottom: 20px;
}

.filter__sort {
    margin-bottom: 15px;
}

    .filter__sort select {
        border-color: #b5b8c8 !important;
    }

    .filter__sort span {
        font-size: 16px;
        color: #6f6f6f;
        display: inline-block;
    }

    .filter__sort .nice-select {
        background-color: #fff;
        border-radius: 0;
        border: none;
        display: inline-block;
        float: none;
        height: 0;
        line-height: 0;
        padding-left: 18px;
        padding-right: 30px;
        font-size: 16px;
        color: #1c1c1c;
        font-weight: 700;
        cursor: pointer;
    }

        .filter__sort .nice-select span {
            color: #1c1c1c;
        }

        .filter__sort .nice-select:after {
            border-bottom: 1.5px solid #1c1c1c;
            border-right: 1.5px solid #1c1c1c;
            height: 8px;
            margin-top: 0;
            right: 16px;
            width: 8px;
            top: -5px;
        }

        .filter__sort .nice-select.open .list {
            opacity: 1;
            pointer-events: auto;
            -webkit-transform: scale(1) translateY(0);
            -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
        }

        .filter__sort .nice-select .list {
            border-radius: 0;
            margin-top: 0;
            top: 15px;
        }

        .filter__sort .nice-select .option {
            line-height: 30px;
            min-height: 30px;
        }

.filter__found {
    text-align: center;
    margin-bottom: 15px;
}

    .filter__found h6 {
        font-size: 16px;
        color: #b2b2b2;
    }

        .filter__found h6 span {
            color: #1c1c1c;
            font-weight: 700;
            margin-right: 5px;
        }

.filter__option {
    text-align: right;
    margin-bottom: 15px;
}

    .filter__option span {
        font-size: 24px;
        color: #b2b2b2;
        margin-right: 10px;
        cursor: pointer;
        -webkit-transition: all, 0.3s;
        -moz-transition: all, 0.3s;
        -ms-transition: all, 0.3s;
        -o-transition: all, 0.3s;
        transition: all, 0.3s;
    }

        .filter__option span:last-child {
            margin: 0;
        }

        .filter__option span:hover {
            color: #7fad39;
        }
