

.img-fluid-p {
    max-width: 40% !important;
    height: auto !important;
    margin-bottom: 40px;
    border-color: #000;
}

.img-fluid-f {
    max-width: 100% !important;
    height: auto !important;
}
