.class_main {
	width: 100%;
	height: 100vh;
}
container_main {
	-webkit-flex: 1 0 auto !important;
	min-height: 200px !important;
}

.sidebar {
	background: #00B0AD;
}

.sidebar-content {
	background: #00B0AD;
}

.sidebar-brand_img {
	height: 45px;
}

.sidebar-bottom {
	background: #006C6C;
}

a.text-white.sidebar-link {
	background: #00B0AD;
}
a.text-dark.sidebar-link {
	background: white !important;

}
a.text-dark.sidebar-link:hover {
	
	color: white;
}
.sidebar-link {
	font-size: 16px;
}

.fas .fa-user-circle .rounded-circle .mr-3 {
	font-size: 4em;
}

.navbar .navbar-expand .navbar-light .bg-white {
	padding: .6rem 1.25rem;
}
.navbar-collapse-img {
	height: 40px;
}
.main_title {
	margin: 0;
}

.d-none .d-sm-inline-block .form-inline .mr-auto .ml-md-5 .my-2 .my-md-0 .mw-100 .navbar-search {
	width: 400px;
}

.fas .fa-user-circle .rounded-circle .mr-3 {
	font-size: 1.7em;
}

.container-fluid {
	padding: 45px;
}

.footer {
	position: static;
	bottom: 0;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.col-md-3 mb-2 .a {
	justify-content: center;
	align-items: center;
}
.sci {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sci_li {
	list-style: none;
	margin: 0 2px;
}

.row{
	justify-content: center;
	align-items: center;
}

.row-row {
	padding: 15px;
}
/*Iconos idioma, messages, etc*/
.badge-danger {
	background-color: #B09531 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0,0,0,.5) !important;
}
/*
.simplebar-wrapper {
	margin: 0px;
}

.simplebar-offset {
	right: -17px;
	bottom: 0px;
}

.simplebar-content-wrapper {
	height: 100%;
	overflow: hidden scroll;
}

.simplebar-content {
	padding: 0px;
}

.simplebar-placeholder {
	width: 239px;
	height: 854px;
}

.text-white .sidebar-link .collapsed {
	background: #00B0AD;
	font-size: 16px;
}

.text-dark .sidebar-link {
	font-size: 16px;
	background: white;
}
	*/

/*Productos*/


.product__item {
	margin-bottom: 50px;
}



.product__item__pic {
	height: 270px;
	position: relative;
	overflow: hidden;
}

.product__item__pic img{
width: 100%;
}

.product__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: 50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

	.product__item__pic__hover li {
		list-style: none;
		display: inline-block;
		margin-right: 6px;
	}

		.product__item__pic__hover li:last-child {
			margin-right: 0;
		}

		.product__item__pic__hover li:hover a {
			background: #00B0AD;
			border-color: #00B0AD;
		}

			.product__item__pic__hover li:hover a i {
				color: #ffffff;
			}

		.product__item__pic__hover li a {
			font-size: 16px;
			color: #1c1c1c;
			height: 40px;
			width: 40px;
			line-height: 40px;
			text-align: center;
			border: 1px solid #ebebeb;
			background: #ffffff;
			display: block;
			border-radius: 50%;
			-webkit-transition: all, 0.5s;
			-moz-transition: all, 0.5s;
			-ms-transition: all, 0.5s;
			-o-transition: all, 0.5s;
			transition: all, 0.5s;
		}

			.product__item__pic__hover li a i {
				position: relative;
				transform: rotate(0);
				-webkit-transition: all, 0.3s;
				-moz-transition: all, 0.3s;
				-ms-transition: all, 0.3s;
				-o-transition: all, 0.3s;
				transition: all, 0.3s;
			}

.product__item__text {
	text-align: center;
	padding-top: 15px;
}

	.product__item__text h6 {
		margin-bottom: 10px;
	}

		.product__item__text h6 a {
			color: #252525;
		}

	.product__item__text h5 {
		color: #252525;
		font-weight: 700;
	}

.product__pagination,
.blog__pagination {
	padding-top: 10px;
	padding-bottom: 40px;
}

	.product__pagination a,
	.blog__pagination a {
		display: inline-block;
		width: 30px;
		height: 30px;
		border: 1px solid #b2b2b2;
		font-size: 14px;
		color: #b2b2b2;
		font-weight: 700;
		line-height: 28px;
		text-align: center;
		margin-right: 16px;
		-webkit-transition: all, 0.3s;
		-moz-transition: all, 0.3s;
		-ms-transition: all, 0.3s;
		-o-transition: all, 0.3s;
		transition: all, 0.3s;
	}

		.product__pagination a:hover,
		.blog__pagination a:hover {
			background: #00B0AD;
			border-color: #00B0AD;
			color: #ffffff;
		}

		.product__pagination a:last-child,
		.blog__pagination a:last-child {
			margin-right: 0;
		}


.filter__item {
	padding-top: 45px;
	border-top: 1px solid #ebebeb;
	padding-bottom: 20px;
}

.filter__sort {
	margin-bottom: 15px;
}
	.filter__sort select {
		border-color: #b5b8c8 !important;
	}

.filter__sort span {
		font-size: 16px;
		color: #6f6f6f;
		display: inline-block;
	}

	.filter__sort .nice-select {
		background-color: #fff;
		border-radius: 0;
		border: none;
		display: inline-block;
		float: none;
		height: 0;
		line-height: 0;
		padding-left: 18px;
		padding-right: 30px;
		font-size: 16px;
		color: #1c1c1c;
		font-weight: 700;
		cursor: pointer;
	}

		.filter__sort .nice-select span {
			color: #1c1c1c;
		}

		.filter__sort .nice-select:after {
			border-bottom: 1.5px solid #1c1c1c;
			border-right: 1.5px solid #1c1c1c;
			height: 8px;
			margin-top: 0;
			right: 16px;
			width: 8px;
			top: -5px;
		}

		.filter__sort .nice-select.open .list {
			opacity: 1;
			pointer-events: auto;
			-webkit-transform: scale(1) translateY(0);
			-ms-transform: scale(1) translateY(0);
			transform: scale(1) translateY(0);
		}

		.filter__sort .nice-select .list {
			border-radius: 0;
			margin-top: 0;
			top: 15px;
		}

		.filter__sort .nice-select .option {
			line-height: 30px;
			min-height: 30px;
		}

.filter__found {
	text-align: center;
	margin-bottom: 15px;
}

	.filter__found h6 {
		font-size: 16px;
		color: #b2b2b2;
	}

		.filter__found h6 span {
			color: #1c1c1c;
			font-weight: 700;
			margin-right: 5px;
		}

.filter__option {
	text-align: right;
	margin-bottom: 15px;
}

	.filter__option span {
		font-size: 24px;
		color: #b2b2b2;
		margin-right: 10px;
		cursor: pointer;
		-webkit-transition: all, 0.3s;
		-moz-transition: all, 0.3s;
		-ms-transition: all, 0.3s;
		-o-transition: all, 0.3s;
		transition: all, 0.3s;
	}

		.filter__option span:last-child {
			margin: 0;
		}

		.filter__option span:hover {
			color: #7fad39;
		}

/*Carga productos*/

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: #dfe9f6 !important;
	border-color: gray gray #dfe9f6 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: #b5b8c8 !important;
}

.nav-tabs {
	border-bottom: 1px solid #b5b8c8 !important;
}

.nav-item a {
	color: gray;
}
.nav-tabs .nav-link.active {
	background-color: #00B0AD !important;
	color: #ffffff !important;
	border-color: #ffffff !important;
}

.nav-pills .nav-link.active {
	background-color: #00B0AD !important;
}

a.nav-link {
	color: #000000;
}

ul.nav.flex-column.nav-pills {
	background-color: #f8f9fa !important;
}
.form-control {
	border: 1px solid #b5b8c8 !important;
	color: black !important;
}

/*datos generales, domicilio, tipo persona*/
.nav-tabs .nav-link.active {
	background-color: #00B0AD !important;
	color: #ffffff !important;
	border-color: #ffffff !important;
}

.nav-pills .nav-link.active {
	background-color: #00B0AD !important;
}

a.nav-link {
	color: #000000;
}

ul.nav.flex-column.nav-pills {
	background-color: #f8f9fa !important;
}




/*Icono outline*/
.btn-outline-info {
	border-color: #b5b8c8 !important;
}
.btn-outline-success_1{
	background-color: #00B0AD !important;
	border-color: #00B0AD !important;
	border-width: 3px !important;
	border-style: solid !important;
	position: absolute;
	right: 30px;
	width: 15%;
}


/*PRODUCTOSSS*/

.product-details{
	padding-top:80px;
}

.product__details__text .h3 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 16px;
}

.product__details__text a {
	text-decoration: none !important;
	color: #fff !important;
}

.product__details__text .product__details__rating {
	font-size: 14px !important;
	/*margin-bottom: 12px;*/
}

	.product__details__text .product__details__rating i {
		margin-right: 5px !important;
		color: #B09531 !important;
	}

	.product__details__text .product__details__rating span {
		color: #000 !important;
		margin-left: 4px !important;
	}

.product__details__text .product__details__price {
	font-size: 30px;
	color: #000;
	font-weight: 600;
	margin-bottom: 15px;
}

.product__details__text p {
	margin-bottom: 45px;
}

.product__details__text .primary-btn-btn {
	padding: 16px 28px 14px;
	margin-right: 6px;
	margin-bottom: 5px;
}


.product__details__text ul {
	border-top: 1px solid #ebebeb;
	padding-top: 40px;
	margin-top: 50px;
}

	.product__details__text ul li {
		font-size: 16px;
		color: #1c1c1c;
		list-style: none;
		line-height: 36px;
	}

		.product__details__text ul li b {
			font-weight: 700;
			width: 170px;
			display: inline-block;
		}

.product__img {
	max-width: 100%;
}
/*btn add to cart */
.primary-btn-btn {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: #00B0AD;
	letter-spacing: 2px;
}

/*Informacion y descripcion del producto*/
.product__details__tab {
	padding-top: 85px;
	margin-bottom:95px;
}
	.product__details__tab .nav-tabs {
		border-bottom: none;
		justify-content: center;
		position: relative;
	}

		.product__details__tab .nav-tabs li {
			margin-bottom: 0;
			margin-right: 65px;
		}

			.product__details__tab .nav-tabs li a {
				font-size: 16px;
				color: #999999;
				font-weight: 700;
				border: none;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				
			}

	.product__details__tab .product__details__tab__desc {
		padding-top: 44px;
	}

		.product__details__tab .product__details__tab__desc h6 {
			font-weight: 700;
			color: #333333;
			margin-bottom: 26px;
		}

		.product__details__tab .product__details__tab__desc p {
			color: #666666;
		}


		/*VISOR*/


.img-fluid-p {
	max-width: 40% !important;
	height: auto !important;
	margin-bottom: 40px;
	border-color: #000;
}
.img-fluid-f {
	max-width: 100% !important;
	height: auto !important;
}
/*SHOPPING CART*/
/*-----------------------*/

.shoping-cart {
	padding-top: 80px !important;
	padding-bottom: 80px !important;
}

.shoping__cart__table {
	margin-bottom: 30px !important;
}

	.shoping__cart__table table {
		width: 100% !important;
		text-align: center !important;
	}

		.shoping__cart__table table thead tr {
			border-bottom: 1px solid #ebebeb !important;
		}

		.shoping__cart__table table thead th {
			font-size: 20px !important;
			font-weight: 700 !important;
			color: #1c1c1c !important;
			/*padding-bottom: 20px !important;*/
		}
.shoping__cart__table .th{
	border: none !important;
	background-color: #fff !important;
}

.shoping__cart__table table thead th.shoping__product {
	text-align: left !important;
}

		.shoping__cart__table table tbody tr td {
			padding-top: 30px !important;
			padding-bottom: 30px !important;
			border-bottom: 1px solid #ebebeb !important;
		}

.shoping__cart__table table tbody tr td.shoping__cart__item {
	width: 630px !important;
	text-align: left !important;
}

	.shoping__cart__table table tbody tr td.shoping__cart__item .item-img {
		display: inline-block !important;
		margin-right: 25px !important;
	}

img.item-img{
	max-width:15%;
}

	.shoping__cart__table table tbody tr td.shoping__cart__item .item-h5 {
		color: #1c1c1c !important;
		display: inline-block !important;
	}
h5.item-h5{
	font-size:18px;
}


.shoping__cart__table table tbody tr td.shoping__cart__price {
	font-size: 18px !important;
	color: #000 !important;
	font-weight: 700 !important;
	width: 100px !important;
}

.shoping__cart__table table tbody tr td.shoping__cart__total {
	font-size: 18px !important;
	color: #000 !important;
	font-weight: 700 !important;
	width: 110px !important;
}

.shoping__cart__table table tbody tr td.shoping__cart__item__close {
	text-align: right !important;
}

	.shoping__cart__table table tbody tr td.shoping__cart__item__close .icon_close {
		font-size: 14px !important;
		color: #000 !important;
		cursor: pointer !important;
	}
/*.shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty {
	width: 120px;
	height: 40px;
}


.pro-qty {
	width: 140px;
	height: 50px;
	display: inline-block;
	position: relative;
	text-align: center;
	background: #f5f5f5;
	margin-bottom: 5px;
}
	*/
a.primary-btn-pri {
	text-decoration:none !important;
	color: #fff !important;
}
.primary-btn-pri {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: #00B0AD;
	letter-spacing: 2px;
}

.primary-btn-pri.cart-btn {
	color: #fff;
	padding: 14px 30px 12px;
	background: #00B0AD;
}
	.primary-btn-pri.cart-btn.cart-btn-right {
		float: right;
	}


.shoping__checkout {
	background: #f5f5f5;
	padding: 30px;
	padding-top: 20px;
	margin-top: 50px;
}

	.shoping__checkout h5 {
		color: #1c1c1c;
		font-weight: 700;
		font-size: 20px;
		margin-bottom: 28px;
	}

	.shoping__checkout ul{
		margin-bottom: 28px;
	}

		.shoping__checkout ul li {
			font-size: 16px;
			color: #000;
			font-weight: 700;
			list-style: none;
			overflow: hidden;
			border-bottom: 1px solid #ebebeb;
			padding-bottom: 13px;
			margin-bottom: 18px;
		}

			.shoping__checkout ul li span {
				font-size: 18px;
				color: #000;
				float: right;
			}

	.shoping__checkout .primary-btn-pri {
		display: block;
		text-align: center;
	}


	/*Interfaz como airbnb*/

	/*BOTONES*/
.primary-btn_btn {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: #00B0AD;
	letter-spacing: 2px;
}
.btn_btn {
	cursor: pointer !important;
	display: inline-block !important;
	position: relative !important;
	text-align: center !important;
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 600 !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
	color: rgb(255, 255, 255) !important;
	width: 100% !important;
	height: 50px !important;
	margin: 0px !important;
	text-decoration: none !important;
	border-radius: 8px !important;
	outline: none !important;
	transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
	border-width: initial !important;
	border-style: none !important;
	border-color: initial !important;
	border-image: initial !important;
	background: #00B0AD !important;
}

.btn_spaan {
	display: block !important;
	position: relative !important;
	pointer-events: none !important;
}


.container-r {
	display: block !important;
}

.container-productos {
	padding-left: 40px !important;
	padding-right: 40px !important;
}


.container-head {
	margin-bottom: 24px !important;
	padding-top: 32px !important;
	position: relative !important;
}
.container-head-h {
	margin-top: 4px !important;
	align-items: baseline !important;
	display: flex !important;
	flex-wrap: wrap !important;
}

.container-bu {
	position: absolute !important;
	bottom: -8px !important;
	right: 0px !important;
}
.container-buu {
	-webkit-box-pack: end !important;
	display: flex !important;
	justify-content: flex-end !important;
}

	.container-button-1{
	margin-right:20px !important;
}

.container-price-p {
	margin-left: auto !important;
	margin-top: 20px !important;
	max-width: 400px !important;
	position: -webkit-sticky !important;
	position: sticky !important;
	top: 80px !important;
	z-index: 1 !important;
}
.container-price {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
	margin-top: 24px !important;
	border-radius: 12px !important;
	padding: 8px 24px 24px !important
}
.container-price-container {
	font-weight: 400 !important;
	line-height: 20px !important;
	padding-top: 16px !important;

}

.container-price-text {
	-webkit-box-direction: normal !important;
	-webkit-box-orient: vertical !important;
	display: flex !important;
	flex-direction: column !important;
}
.shooping {
	-webkit-box-align: baseline !important;
	-webkit-box-pack: justify !important;
	-webkit-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	align-items: baseline !important;
	margin-bottom: 20px !important;
}
.shooping_ctd {
	padding-left: 36px !important;
	/*border-top: 1px solid #ebebeb;*/
	/*padding-top: 20px !important;*/
	margin-bottom: 30px !important;
	-webkit-box-align: center !important;
	align-items: center !important;
	display: flex !important;
	width: 100% !important;
	color: #000000 !important;
	font-weight: 400 !important;
}
.shooping_cantidad {
	-webkit-box-pack: center !important;
	-webkit-box-align: center !important;
	display: inline-flex !important;
	align-items: center !important;
	justify-content: space-between !important;
	width: 104px !important;
	height: 32px !important;
	color: rgb(34, 34, 34) !important;
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 20px !important;
}
.cantidad_text {
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 600 !important;
	flex: 1 1 0% !important;
}
.btn_cantidad {
	-webkit-box-pack: center !important;
	-webkit-box-align: center !important;
	-webkit-box-flex: 0 !important;
	width: 32px !important;
	height: 32px !important;
	flex-grow: 0 !important;
	flex-shrink: 0 !important;
	cursor: pointer !important;
	display: inline-flex !important;
	text-align: center !important;
	color: #fff !important;
	font-family: inherit !important;
	touch-action: manipulation !important;
	align-items: center !important;
	justify-content: center !important;
	margin: 0px !important;
	padding: 0px !important;
	text-decoration: none !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #00B0AD !important;
	outline: none !important;
	background: #00B0AD !important;
	border-radius: 50% !important;
}
	.btn_cantidad i {
		height: 22px !important;
		width: 22px !important;
		padding: 2px !important;
	}

.shooping_1 {
	padding-top: 20px !important;
	color: rgb(34, 34, 34) !important;
	font-weight: 400 !important;
	font-size: 16px !important;
	line-height: 20px !important;
}


	.shooping_1 ul {
		border-top: 1px solid #ebebeb;
		list-style-type: none !important;
		padding: 0px !important;
	}

		.shooping_1 ul li {
			display: flex !important;
			margin-top: 20px !important;
		}


			.shooping_1 ul li b {
				-webkit-box-flex: 1 !important;
				flex-shrink: 1 !important;
				flex-grow: 1 !important;
				white-space: normal !important;
			
			}

			.shooping_1 ul li span {
				padding-left: 16px !important;
				white-space: nowrap !important;
			}
.shooping_total {
	border-top: 1px solid #ebebeb;
	-webkit-box-align: baseline !important;
	-webkit-box-pack: justify !important;
	-webkit-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between !important;
	align-items: baseline !important;
}
	.shooping_total h2 {
		margin-top: 20px !important;
	}


.filter_text {
	height: 100% !important;
	padding-left: 40px !important;
	padding-right: 40px !important;
	width: 100% !important;
}
.text_filter {
	display: block !important;
}
.text_text {
	position: relative;
	color: rgb(34, 34, 34) !important;
	line-height: 24px !important;
}

.product__details__text_t .product__details__rating_r i {
	margin-right: 5px !important;
	color: #B09531 !important;
}

.single-product-item {
	margin-bottom: 30px;
}


.btn-cant {
	position: relative !important;
	color: inherit !important;
	font-family: inherit !important;
	font-size: inherit !important;
	line-height: inherit !important;
}
	








/*figure*/
.categories-page .single-product-item figure {
	position: relative !important;
	z-index: 1 !important;
}
figure{
	margin: 0 0 1rem !important;
}
.single-product-item figure {
	margin-bottom: 40px !important;
	position: relative !important;
	overflow: hidden !important;
}
/*img*/
	.single-product-item figure .img-img {
		min-width: 100% !important;
	}
	.img-img {
		max-width: 100% !important;
		vertical-align: middle !important;
		border-style: none !important;
	}



	/*CSS WIZARD*/



.container-wizard {
	width: 850px;
	position: relative;
	margin: 0 auto;
	background: #fff;
	
}

	/**ccc***************************/

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

p {
	color: grey;
}

#heading {
	text-transform: uppercase;
	color: black;
	font-weight: normal;
}

.fiel{
	border: none !important;
	margin: inherit !important;
	padding: 80px !important;
}
#msform {
	text-align: center;
	position: relative;
	margin-top: 20px
}

	#msform fieldset {
		background: white;
		border: 0 none;
		border-radius: 0.5rem;
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		padding-bottom: 20px;
		/*position: relative;*/
	}

.form-card {
	text-align: left;
}

#msform fieldset:not(:first-of-type) {
	display: none;
}

#msform input,
#msform textarea {
	padding: 8px 15px 8px 15px;
	border: 1px solid #ccc;
	border-radius: 0px;
	margin-bottom: 25px;
	margin-top: 2px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	background-color: #ECEFF1;
	font-size: 16px;
	letter-spacing: 1px;
}

	#msform input:focus,
	#msform textarea:focus {
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		border: 1px solid #00B0AD;
		outline-width: 0;
	}

#msform .action-button {
	width: 100px;
	background: #00B0AD;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 0px 10px 5px;
	float: right;
}

	#msform .action-button:hover,
	#msform .action-button:focus {
		background-color: #00B0AD;
	}

#msform .action-button-previous {
	width: 100px;
	background: #616161;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px 10px 0px;
	float: right;
}

	#msform .action-button-previous:hover,
	#msform .action-button-previous:focus {
		background-color: #000000;
	}

.card {
	z-index: 0;
	border: none;
	position: relative
}

.fs-title {
	font-size: 25px;
	color: black;
	margin-bottom: 15px;
	font-weight: normal;
	text-align: left;
}

.purple-text {
	color: black;
	font-weight: normal
}

.steps {
	font-size: 25px;
	color: gray;
	margin-bottom: 10px;
	font-weight: normal;
	text-align: right
}

.fieldlabels {
	color: gray;
	text-align: left
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	color: lightgrey;
}

	#progressbar .active {
		color: #00B0AD;
	}

	#progressbar li {
		list-style-type: none;
		font-size: 15px;
		width: 25%;
		float: left;
		position: relative;
		font-weight: 400;
	}

	#progressbar #account:before {
		font-family: FontAwesome;
		content: "\f13e"
	}

	#progressbar #personal:before {
		font-family: FontAwesome;
		content: "\f007"
	}

	#progressbar #payment:before {
		font-family: FontAwesome;
		content: "\f030"
	}

	#progressbar #confirm:before {
		font-family: FontAwesome;
		content: "\f00c"
	}

	#progressbar li:before {
		width: 50px;
		height: 50px;
		line-height: 45px;
		display: block;
		font-size: 20px;
		color: #ffffff;
		background: lightgray;
		border-radius: 50%;
		margin: 0 auto 10px auto;
		padding: 2px;
	}

	#progressbar li:after {
		content: '';
		width: 100%;
		height: 2px;
		background: lightgray;
		position: absolute;
		left: 0;
		top: 25px;
		z-index: -1;
	}

	#progressbar li.active:before,
	#progressbar li.active:after {
		background: #00B0AD;
	}

.progress {
	height: 20px;
}

.progress-bar {
	background-color: #00B0AD;
}

.fit-image {
	width: 100%;
	object-fit: cover;
}

/***************--Container footer--*****************/
.container-footer {
	display: block !important;
}
.containter-ft {
	background-color: #f8f9fa !important;
	border-top: 1px solid #c5c5c5 !important;
	display: block !important;
	/*position: fixed !important;*/
	bottom: 0px !important;
	width: 100% !important;
}
.cont-footer {
	max-width: var(--page-shell-max-content-width, 1440px) !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
	margin: 0 auto !important;
	max-width: 1440px !important;
}
/*footer--adoptarse*/
@media (min-width: 1128px) {
	.cont-footer {
		padding-left: 80px !important;
		padding-right: 80px !important;
	}
}
@media (min-width: 950px) {
	.cont-footer {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}
}
@media (min-width: 744px) {
	.cont-footer {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}
}
@media (min-width: 375px) {
	.cont-footer {
		padding-left: 24px !important;
		padding-right: 24px !important;
	}
}
/*-------------------------------------*/
.cont-ft {
	padding: 32px 0 !important;
}
/*-----.cont-ft adaptarse------*/
@media (min-width: 1128px) {
	.cont-ft {
		-webkit-box-direction: normal !important;
		-webkit-box-orient: horizontal !important;
		/*-webkit-flex-direction: row !important;
		-ms-flex-direction: row !important;*/
		flex-direction: row !important;
		padding-top: 48px !important;
		padding-bottom: 48px !important;
		margin-left: 80px !important;
		margin-right: -12px !important;
	}
}
@media (min-width: 744px) {
	.cont-ft {
		/*-webkit-box-direction: normal !important;
		-webkit-box-orient: vertical !important;
		display: -webkit-box !important;
		display: -moz-box !important;
		display: -ms-flexbox !important;
		display: -webkit-flex !important;*/
		display: flex !important;
		/*-webkit-flex-direction: column !important;
		-ms-flex-direction: column !important;
		flex-direction: column !important;
		padding-top: 40px !important;
		padding-bottom: 40px !important;*/
	}
}
/*-------------------------------------*/
.cont-sct {
	display: block !important;
}

@media (min-width: 1128px) {
	.cont-sct:not(:last-child) {
		padding-bottom: 0px !important;
		margin-bottom: 0px !important;
		border-bottom: 0px !important;
	}
}

.cont-sct:not(:last-child) {
	/*padding-bottom: 24px !important;*/
	margin-bottom: 24px !important;
	/*border-bottom: 1px solid #DDDDDD !important;*/
}

@media (min-width: 1128px) {
	.cont-sct {
		/*-webkit-flex: 1 0 0% !important;
		-ms-flex: 1 0 0% !important;*/
		flex: 1 0 0% !important;
		padding-left: 12px !important;
		padding-right: 12px !important;
	}
}
.cont-sct-h4:first-child {
	margin-top: 0;
}
.cont-sct-h4 {
	color: #000000 !important;
	text-transform: uppercase !important;
	font-size: 16px !important;
	margin-bottom: 0px !important;
	display: block;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}
.cont-social-s {
	display: block !important;
	padding-top: 24px !important;
	/*margin-left: 32px !important;*/
}
.cont-sct-ul-social {
	list-style: none !important;
	margin: 0px !important;
	padding: 0px !important;
	display: flex !important;
}
	.cont-sct-li-social:not(:last-child) {
		margin-right: 34px !important;
	}
.cont-sct-a-social {
	font-size: inherit !important;
	font-family: inherit !important;
	font-weight: inherit !important;
	font-style: inherit !important;
	font-variant: inherit !important;
	line-height: inherit !important;
	color: #000000 !important;
	text-decoration: none !important;
}

.cont-sct-ul {
	list-style: none !important;
	margin: 0px !important;
	padding: 0px !important;
}
@media (min-width: 1128px) {
	.cont-sct-ul {
		display: block !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}
@media (min-width: 744px) {
	.cont-sct-ul {
		/*-webkit-box-lines: multiple !important;
		display: -webkit-box !important;
		display: -moz-box !important;
		display: -ms-flexbox !important;
		display: -webkit-flex !important;
		display: flex !important;
		-webkit-flex-wrap: wrap !important;
		-ms-flex-wrap: wrap !important;*/
		flex-wrap: wrap !important;
		/*margin-left: -12px !important;
		margin-right: -12px !important;*/
	}
}

.cont-sct-li {
	display: list-item;
	text-align: -webkit-match-parent;
}

@media (min-width: 1128px) {
	.cont-sct-li {
		margin-top: 16px !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}
@media (min-width: 744px) {
	.cont-sct-li {
		/*-ms-flex-preferred-size: 33.333333333333336% !important;
		-webkit-flex-basis: 33.333333333333336% !important;*/
		flex-basis: 33.333333333333336% !important;
		/*padding-left: 12px !important;
		padding-right: 12px !important;*/
	}
}

.cont-sct-a {
	font-family: inherit !important;
	font-weight: inherit !important;
	font-style: inherit !important;
	font-variant: inherit !important;
	text-decoration: none !important;
	color: #222222 !important;
	font-size: 16px !important;
	line-height: 18px !important;
}
/**************---------------------************/
.container-footer-text {
	padding-top: 24px !important;
	padding-bottom: 24px !important;
	border-top: 1px solid #c5c5c5 !important;
}

.ct-text {
	font-size: 16px !important;
	display: flex !important;
	font-weight: 600 !important;
}
@media (min-width: 1128px) {
	.ct-text {
		-webkit-box-pack: justify !important;
		/*-ms-flex-pack: justify !important;*/
		-webkit-box-align: stretch !important;
		/*-ms-flex-align: stretch !important;*/
		-webkit-box-direction: reverse !important;
		-webkit-box-orient: horizontal !important;
		text-align: left !important;
		/*-webkit-flex-direction: row-reverse !important;
		-ms-flex-direction: row-reverse !important;*/
		flex-direction: row-reverse !important;
		/*-webkit-align-items: stretch !important;*/
		align-items: stretch !important;
		/*-webkit-justify-content: space-between !important;*/
		justify-content: space-between !important;
	}
}

.ct-text-a {
	display: flex !important;
}

@media (min-width: 1128px) {
	.ct-text-a {
		margin-bottom: 0px !important;
	}
}

.ct-panel {
	display: flex !important;
}
.ct-span:not(last-child) {
	margin-right: 24px !important;
}

.ct-a {
	font-family: inherit !important;
	font-weight: inherit !important;
	font-style: inherit !important;
	font-variant: inherit !important;
	font-size: 14px !important;
	line-height: 18px !important;
	color: #000000 !important;
	display: flex !important;
	white-space: nowrap !important;
	text-decoration: none !important;
}
.ct-icon {
	margin-right: 8px !important;
}

.container-register {
	flex: 1 1 0% !important;
}
@media (min-width: 1128px) {
	.container-register {
		margin-right: 40px !important;
	}
}
@media (min-width: 1128px) {
	.ct-rg {
		text-align: left !important;
	}
}
@media (min-width: 1128px) {
	.ct-rg-content {
		overflow: hidden !important;
	}
}
.ct-rg-text {
	font-size: 16px !important;
	line-height: 18px !important;
	color: #000000 !important;
	display: inline-block !important;
}
@media (min-width: 1128px) {
	.ct-rg-text {
		margin-right: 19px !important;
	}
}
@media (min-width: 1128px) {
	.ct-rg-txt {
		display: inline-block !important;
		margin-left: -19px !important;
	}
}
@media (min-width: 1128px) {
	.ct-rg-panel {
		display: inline-block !important;
	}
}

.ct-rg-iconn {
	display: inline-block !important;
	text-align: center !important;
	width: 19px !important;
}
.ct-rg-icon {
	display: inline-block !important;
	text-align: center !important;
	width: 19px !important;
}
.ct-rg-sn {
	font-family: inherit !important;
	font-weight: inherit !important;
	font-style: inherit !important;
	font-variant: inherit !important;
	text-decoration: none !important;
	color: #222222 !important;
	font-size: 16px !important;
	line-height: 18px !important;
}
	/****--Container footer--***/